<div
  class="min-h-screen bg-white dark:bg-gray-900 transition-colors duration-200"
>
  <app-navbar [activeFragment]="activeFragment" />
  <main>
    <section id="home" class="min-h-screen">
      <app-home />
    </section>

    <section id="about-me" class="min-h-screen">
      <app-about-me />
    </section>

    <section id="skills" class="min-h-screen">
      <app-skills />
    </section>

    <section id="education" class="min-h-screen">
      <app-education />
    </section>

    <section id="experience" class="min-h-screen">
      <app-experience />
    </section>

    <section id="certificates" class="min-h-screen">
      <app-certificates />
    </section>

    <section id="contact-me" class="min-h-screen">
      <app-contact-me />
    </section>

    <app-footer />
  </main>
</div>
